smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/SPRMSupportAndReadiness/schema5.xsd

<xsd:schema xmlns="http://directvla.com/schema/util/commondatatypes/v1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/schema/util/commondatatypes/v1-0">
  <xsd:complexType name="RequestMetadataType">
    <xsd:sequence>
      <xsd:element name="requestID" type="RequestIDType"/>
      <xsd:element name="sourceID" type="SourceIDType"/>
      <xsd:element minOccurs="0" name="systemID" type="SystemIDType"/>
      <xsd:element minOccurs="0" name="userID" type="UserIDType"/>
      <xsd:element minOccurs="0" name="validate" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="debug" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="userProof" type="UserProofType"/>
      <xsd:element minOccurs="0" name="userApp" type="UserAppType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseMetadataType">
    <xsd:sequence>
      <xsd:element name="requestID" type="RequestIDType"/>
      <xsd:element name="timeStamp" type="TimeStampType"/>
      <xsd:element minOccurs="0" name="boxUsage" type="BoxUsageType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="RequestIDType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SourceIDType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="SystemIDType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UserIDType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UserProofType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="UserAppType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="CodeType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MessageType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="BoxUsageType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TimeStampType">
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
</xsd:schema>
