smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/SPRMSupportAndReadiness/schema4.xsd

<xsd:schema xmlns="http://directvla.com/schema/businessdomain/product/v1-0" xmlns:commonbd-v1-0="http://directvla.com/schema/businessdomain/common/v1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/schema/businessdomain/product/v1-0">
  <xsd:import namespace="http://directvla.com/schema/businessdomain/common/v1-0" schemaLocation="schema6.xsd"/>
  <xsd:complexType name="Product">
    <xsd:sequence>
      <xsd:element name="productKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CustomerKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="code" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="productStatus" type="ProductStatus"/>
      <xsd:element minOccurs="0" name="validFor" type="commonbd-v1-0:TimePeriod"/>
      <xsd:element minOccurs="0" name="productCategory" type="ProductCategory"/>
      <xsd:element minOccurs="0" name="productPrice" type="xsd:long"/>
      <xsd:element minOccurs="0" name="contractStartDatetime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="contractEndDatetime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="financeOption" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="contractPeriod" type="xsd:int"/>
      <xsd:element minOccurs="0" name="financialAccountID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="agreement" type="commonbd-v1-0:Agreement"/>
      <xsd:element minOccurs="0" name="marketSegmentId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="warrantyEndDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="ProductHasPhysicalResources" type="commonbd-v1-0:PhysicalResourceCollection"/>
      <xsd:element minOccurs="0" name="ProductPriceCollection" type="ProductPriceCollection"/>
      <xsd:element minOccurs="0" name="ProductCharacteristicValueCollection" type="ProductCharacteristicValueCollection"/>
      <xsd:element minOccurs="0" name="vendor" type="commonbd-v1-0:Vendor"/>
      <xsd:element minOccurs="0" name="commissionOption" type="commonbd-v1-0:Category"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Product" type="Product"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductCategory">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="type" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductStatus">
    <xsd:complexContent>
      <xsd:extension base="commonbd-v1-0:Category">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="description" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProductPriceCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductPrice" type="ProductPrice"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductPrice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="commonbd-v1-0:TimePeriod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductCharacteristicValue">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="value" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="commonbd-v1-0:TimePeriod"/>
      <xsd:element minOccurs="0" name="ProductSpecCharacteristic" type="ProductSpecCharacteristic"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductSpecCharacteristic">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="unique" type="xsd:string"/>
      <xsd:element minOccurs="0" name="valueType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="minCardinality" type="xsd:int"/>
      <xsd:element minOccurs="0" name="maxCardinality" type="xsd:int"/>
      <xsd:element minOccurs="0" name="extensible" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="derivationFormula" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="commonbd-v1-0:TimePeriod"/>
      <xsd:element minOccurs="0" name="ProductSpecCharRelationship" type="ProductSpecCharacteristic"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductCharacteristicValueCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductCharValue" type="ProductCharacteristicValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProductType" type="Product"/>
  <xsd:element name="Product" type="Product"/>
  <xsd:complexType name="ProductOffer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="commonbd-v1-0:TimePeriod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerProductOffer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CustomerKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="commonbd-v1-0:TimePeriod"/>
      <xsd:element minOccurs="0" name="Product" type="Product"/>
      <xsd:element minOccurs="0" name="ProductOffer" type="ProductOffer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerProductOfferCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerProductOffer" type="CustomerProductOffer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductOfferCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductOffer" type="ProductOffer"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
