smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/ServiceConfigurationAndActivation/XMLSchema_41588590.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema targetNamespace="http://directvla.com/schema/util/commondatatypes/v1-0" xmlns="http://directvla.com/schema/util/commondatatypes/v1-0"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:complexType name="RequestMetadataType">
        <xsd:sequence>
            <xsd:element name="requestID" type="RequestIDType" minOccurs="1"/>
            <xsd:element name="sourceID" type="SourceIDType" minOccurs="1"/>
            <xsd:element name="systemID" type="SystemIDType" minOccurs="0"/>
            <xsd:element name="userID" type="UserIDType" minOccurs="0"/>
            <xsd:element name="validate" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="debug" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="userProof" type="UserProofType" minOccurs="0"/>
            <xsd:element name="userApp" minOccurs="0" type="UserAppType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponseMetadataType">
        <xsd:sequence>
            <xsd:element name="requestID" type="RequestIDType" minOccurs="1"/>
            <xsd:element name="timeStamp" type="TimeStampType" minOccurs="1"/>
            <xsd:element name="boxUsage" type="BoxUsageType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="RequestIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="SourceIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="SystemIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="UserIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="UserProofType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="UserAppType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="CodeType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="MessageType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="BoxUsageType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="TimeStampType">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
</xsd:schema>