smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/CustomerServices/schema7.xsd

<xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:commonbd-v1-0="http://directvla.com/schema/businessdomain/common/v1-0" xmlns:commondt-v1-0="http://directvla.com/schema/util/commondatatypes/v1-0" xmlns:commonex-v1-0="http://directvla.com/schema/util/commonexceptions/v1-0" xmlns:crm-customer-v1-0="http://directvla.com/contract/crm/customer/v1-0" xmlns:customerbd-v1-0="http://directvla.com/schema/businessdomain/customer/v1-0" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="http://ibs.entriq.net/Security" xmlns:productbd-v1-0="http://directvla.com/schema/businessdomain/product/v1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://directvla.com/contract/crm/customer/v1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/contract/crm/customer/v1-0">
  <xsd:import namespace="http://directvla.com/schema/businessdomain/customer/v1-0" schemaLocation="schema3.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/product/v1-0" schemaLocation="schema6.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/common/v1-0" schemaLocation="schema2.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/util/commondatatypes/v1-0" schemaLocation="schema5.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/util/commonexceptions/v1-0" schemaLocation="schema4.xsd"/>
  <xsd:complexType name="GetInvoice">
    <xsd:sequence>
      <xsd:element name="CustomerId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetInvoiceResult">
    <xsd:sequence>
      <xsd:element name="Invoice" type="commonbd-v1-0:Invoice"/>
      <xsd:element name="Terminated" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EquipmentRequest">
    <xsd:sequence>
      <xsd:element name="CustomerId" type="xsd:int"/>
      <xsd:element name="AgreementId" type="xsd:int"/>
      <xsd:element name="FinancialAccountId" type="xsd:int"/>
      <xsd:element name="TypeId" type="xsd:int"/>
      <xsd:element name="StockHandlerId" type="xsd:int"/>
      <xsd:element name="FinanceOptionId" type="xsd:int"/>
      <xsd:element name="AgreeementDetailId" type="xsd:int"/>
      <xsd:element name="ShipByDate" type="xsd:dateTime"/>
      <xsd:element name="ReasonId" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" name="ProductosId" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" name="SerialNumberSC" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" name="SerialNumberIRD" type="xsd:int"/>
      <xsd:element name="LedgerAccount" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BaseAmount" type="commonbd-v1-0:Money"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EquipmentRequestResult">
    <xsd:sequence>
      <xsd:element name="RespShippingOrderId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialAnalysis">
    <xsd:sequence>
      <xsd:element name="ReferenceNr" nillable="true">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="creditCardNumber" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialAnalysisResult">
    <xsd:sequence>
      <xsd:element name="mensaje" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomersByCreditCard">
    <xsd:sequence>
      <xsd:element name="CreditCardNumber" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomersByCreditCardResult">
    <xsd:sequence>
      <xsd:element name="CustomerList" type="customerbd-v1-0:CustomerCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerInfo">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerInfoResult">
    <xsd:sequence>
      <xsd:element name="Customer" type="customerbd-v1-0:Customer"/>
      <xsd:element minOccurs="0" name="Activation" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="Old" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomersByIdentification">
    <xsd:sequence>
      <xsd:element name="CustomerIdentification" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomersByIdentificationResult">
    <xsd:sequence>
      <xsd:element name="CustomerList" type="customerbd-v1-0:CustomerCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerAddresses">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Params" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerAddressesResult">
    <xsd:sequence>
      <xsd:element name="customer" type="customerbd-v1-0:Customer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerCharacteristics">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerCharacteristicsResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CharacteristicsList" type="commonbd-v1-0:CharacteristicsCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerInquiries">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerInquiriesResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="InquiriesList" type="customerbd-v1-0:CustomerInquiryCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerProducts">
    <xsd:sequence>
      <xsd:element name="CustomerKey">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]+"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Linked" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Params" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerProductsResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ProductList" type="productbd-v1-0:ProductCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetFinancialInfo">
    <xsd:sequence>
      <xsd:element name="codClient" type="xsd:long"/>
      <xsd:element minOccurs="0" name="accountNumber" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetFinancialInfoResult">
    <xsd:sequence>
      <xsd:element name="account" type="customerbd-v1-0:Customer"/>
      <xsd:element name="invoice" type="commonbd-v1-0:Invoice"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetFinancialInfoCRMResult">
    <xsd:sequence>
      <xsd:element name="account" type="customerbd-v1-0:Customer"/>
      <xsd:element minOccurs="0" name="TotalFinancialAccountBalance" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="NotYetDue" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="LastInvoiced" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="TotalAmountOverdue" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerResources">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Params" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerResourcesResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ResourcesList" type="commonbd-v1-0:PhysicalResourceCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteCustomerSchedule">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeleteCustomerScheduleResult">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReauthorizeCustomerResources">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
      <xsd:element name="Resource" type="commonbd-v1-0:PhysicalResource"/>
      <xsd:element name="Reason" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReauthorizeCustomerResourcesResult">
    <xsd:sequence>
      <xsd:element name="EndOk" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateShippingOrder">
    <xsd:sequence>
      <xsd:element name="CustShippingOrder" type="commonbd-v1-0:ShippingOrder"/>
      <xsd:element name="Reason" type="xsd:int"/>
      <xsd:element name="CustomerKey" type="xsd:int"/>
      <xsd:element name="AgreementId" type="xsd:int"/>
      <xsd:element name="FinancialAccountId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateShippingOrderResult">
    <xsd:sequence>
      <xsd:element name="ShipingOrderId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateCustomerPayment">
    <xsd:sequence>
      <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
      <xsd:element name="Payment" type="customerbd-v1-0:PaymentTransaction"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateCustomerPaymentResult">
    <xsd:sequence>
      <xsd:element name="RespTransactionId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CreateShippingOrderRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="CreateShippingOrder" type="tns:CreateShippingOrder"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CreateShippingOrderResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="CreateShippingOrderResult" type="tns:CreateShippingOrderResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CreateCustomerPaymentRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="CreateCustomerPayment" type="tns:CreateCustomerPayment"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CreateCustomerPaymentResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="CreateCustomerPaymentResult" type="tns:CreateCustomerPaymentResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetInvoiceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetInvoice" type="tns:GetInvoice"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetInvoiceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetInvoiceResult" type="tns:GetInvoiceResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomersByCreditCardRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomersByCreditCard" type="tns:GetCustomersByCreditCard"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomersByCreditCardResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomersByCreditCardResult" type="tns:GetCustomersByCreditCardResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInfoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerInfo" type="tns:GetCustomerInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReauthorizeCustomerResourcesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="ReauthorizeCustomerResources" type="tns:ReauthorizeCustomerResources"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReauthorizeCustomerResourcesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="ReauthorizeCustomerResourcesResult" type="tns:ReauthorizeCustomerResourcesResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInfoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerInfoResult" type="tns:GetCustomerInfoResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomersByIdentificationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomersByIdentification" type="tns:GetCustomersByIdentification"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomersByIdentificationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomersByIdentificationResult" type="tns:GetCustomersByIdentificationResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerAddressesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerAddresses" type="tns:GetCustomerAddresses"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerAddressesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerAddressesResult" type="tns:GetCustomerAddressesResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerCharacteristicsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerCharacteristics" type="tns:GetCustomerCharacteristics"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerCharacteristicsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerCharacteristicsResult" type="tns:GetCustomerCharacteristicsResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerInquiries" type="tns:GetCustomerInquiries"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerInquiriesResult" type="tns:GetCustomerInquiriesResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerProductsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerProducts" type="tns:GetCustomerProducts"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerProductsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerProductsResult" type="tns:GetCustomerProductsResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFinancialInfoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetFinancialInfo" type="tns:GetFinancialInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFinancialInfoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetFinancialInfoResult" type="tns:GetFinancialInfoResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerResourcesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerResources" type="tns:GetCustomerResources"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerResourcesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerResourcesResult" type="tns:GetCustomerResourcesResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFinancialInfoCRMRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetFinancialInfo" type="tns:GetFinancialInfo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFinancialInfoCRMResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetFinancialInfoCRMResult" type="tns:GetFinancialInfoCRMResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeleteCustomerScheduleRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="DeleteCustomerSchedule" type="tns:DeleteCustomerSchedule"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeleteCustomerScheduleResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="DeleteCustomerScheduleResult" type="tns:DeleteCustomerScheduleResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CreateShippingOrderException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CreateCustomerPaymentException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetInvoiceException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReauthorizeCustomerResourcesException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerDebtException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInfoException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerAddressesException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerCharacteristicsException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerProductsException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFinancialInfoException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerResourcesException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomersByCreditCardException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomersByIdentificationException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFinancialInfoCRMException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DeleteCustomerScheduleException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinancialAnalysisException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinancialAnalysisRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="FinancialAnalysis" type="tns:FinancialAnalysis"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinancialAnalysisResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="FinancialAnalysisResult" type="tns:FinancialAnalysisResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GetCustomerSchedules">
    <xsd:sequence>
      <xsd:element name="CustomerId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CreatedDate" type="commonbd-v1-0:TimePeriod"/>
      <xsd:element minOccurs="0" name="ExecuteDate" type="commonbd-v1-0:TimePeriod"/>
      <xsd:element minOccurs="0" name="Entity" type="customerbd-v1-0:Entity"/>
      <xsd:element minOccurs="0" name="EventId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ReasonId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerSchedulesResult">
    <xsd:sequence>
      <xsd:element name="CustomerScheduleCollection" type="customerbd-v1-0:CustomerScheduleCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetCustomerSchedulesException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailabbleException" type="commonex-v1-0:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerSchedulesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerSchedules" type="tns:GetCustomerSchedules"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerSchedulesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResponseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerSchedulesResult" type="tns:GetCustomerSchedulesResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
