smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/CustomerServices/schema2.xsd

<xsd:schema xmlns="http://directvla.com/schema/businessdomain/common/v1-0" xmlns:customerbd-v1-0="http://directvla.com/schema/businessdomain/customer/v1-0" xmlns:productbd-v1-0="http://directvla.com/schema/businessdomain/product/v1-0" xmlns:servicebd-v1-0="http://directvla.com/schema/businessdomain/service/v1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/schema/businessdomain/common/v1-0">
  <xsd:import namespace="http://directvla.com/schema/businessdomain/customer/v1-0" schemaLocation="schema3.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/product/v1-0" schemaLocation="schema6.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/service/v1-0" schemaLocation="schema1.xsd"/>
  <xsd:complexType name="Invoice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AmountApplied" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="AmountPaid" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="AmountPaidFromOtherInvoice" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Balance" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="DueDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="InvoiceDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="TotalAmount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="InvoiceNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FinancialAccountID" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CharacteristicSpec">
    <xsd:complexContent>
      <xsd:extension base="Category">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CharacteristicSpecRef" type="CharacteristicSpec"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Characteristics">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
      <xsd:element name="CharacteristicSpec" type="CharacteristicSpec"/>
      <xsd:element name="CharacteristicValue" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="units" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Money">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="units" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimePeriod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="startDateTime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="endDateTime" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ContactMedium">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="category" type="Category"/>
      <xsd:element minOccurs="0" name="AddressId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailContact">
    <xsd:complexContent>
      <xsd:extension base="ContactMedium">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="eMailAddress" type="xsd:string"/>
          <xsd:element minOccurs="0" name="eMailProtocol" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumber">
    <xsd:complexContent>
      <xsd:extension base="ContactMedium">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="number" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FaxNumber">
    <xsd:complexContent>
      <xsd:extension base="ContactMedium">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="number" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Place">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicPlace">
    <xsd:complexContent>
      <xsd:extension base="Place">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicAddress">
    <xsd:complexContent>
      <xsd:extension base="GeographicPlace">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="country" type="Country"/>
          <xsd:element minOccurs="0" name="stateOrProvince" type="Province"/>
          <xsd:element minOccurs="0" name="city" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UrbanPropertyAddress">
    <xsd:complexContent>
      <xsd:extension base="GeographicAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetNrFirst" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetNrFirstSuffix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetNrLast" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetNrLastSuffix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetType" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetSuffix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="locality" type="xsd:string"/>
          <xsd:element minOccurs="0" name="postCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="categorizedBy" type="Category"/>
          <xsd:element minOccurs="0" name="addressCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="additionalAttribute1" type="xsd:string"/>
          <xsd:element minOccurs="0" name="additionalAttribute2" type="xsd:string"/>
          <xsd:element minOccurs="0" name="geoCodeId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="geoCodeName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="MarketSegmentId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="entityId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="GeographicLocation">
    <xsd:complexContent>
      <xsd:extension base="GeographicPlace">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicArea">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Country" type="Country"/>
          <xsd:element minOccurs="0" name="State" type="State"/>
          <xsd:element minOccurs="0" name="PostCode" type="GeographicPostcode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Country">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Iso2Code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Iso3Code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="State">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="City">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicPostcode">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Province">
    <xsd:complexContent>
      <xsd:extension base="Category">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="key" type="xsd:string"/>
          <xsd:element minOccurs="0" name="description" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Party">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="partyId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="PartyRoleList" type="PartyRoleCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Individual">
    <xsd:complexContent>
      <xsd:extension base="Party">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="gender" type="xsd:string"/>
          <xsd:element minOccurs="0" name="placeOfBirth" type="xsd:string"/>
          <xsd:element minOccurs="0" name="nationality" type="xsd:string"/>
          <xsd:element minOccurs="0" name="maritalStatus" type="xsd:string"/>
          <xsd:element minOccurs="0" name="aliveDuring" type="TimePeriod"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="IdentifiedBy" type="IndividualIdentification"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="NameUsing" type="IndividualName"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="PartyName">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualName">
    <xsd:complexContent>
      <xsd:extension base="PartyName">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="formattedName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="legalName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="aristocraticTitle" type="xsd:string"/>
          <xsd:element minOccurs="0" name="formOfAddress" type="xsd:string"/>
          <xsd:element minOccurs="0" name="generation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="givenNames" type="xsd:string"/>
          <xsd:element minOccurs="0" name="preferredGivenName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="middleNames" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyNamePrefix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyNames" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyGeneration" type="xsd:string"/>
          <xsd:element minOccurs="0" name="qualifications" type="Category"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="PartyIdentification">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="issueDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="scan" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="Language" type="Language"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Language">
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="IndividualIdentification">
    <xsd:complexContent>
      <xsd:extension base="PartyIdentification"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NationalIdentityCardIdentification">
    <xsd:complexContent>
      <xsd:extension base="IndividualIdentification">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cardNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FiscalIdentification">
    <xsd:complexContent>
      <xsd:extension base="IndividualIdentification">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="number" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Category">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyRoleCategory">
    <xsd:complexContent>
      <xsd:extension base="Category">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessInteractionType">
    <xsd:complexContent>
      <xsd:extension base="Category">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="PartyRole">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="partyRoleId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="AddressList" type="UrbanPropertyAddressCollection"/>
      <xsd:element minOccurs="0" name="ContactableVia" type="ContactMediumCollection"/>
      <xsd:element minOccurs="0" name="WorkOrderList" type="WorkOrderCollection"/>
      <xsd:element minOccurs="0" name="ProductInvolvementList" type="productbd-v1-0:ProductCollection"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BusinessRoles" type="PartyRole"/>
      <xsd:element name="CategorizedBy" type="PartyRoleCategory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceProvider">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CommisionType" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Vendor">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CommisionType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Intermediary">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CommisionType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FunctionOrProcessProvider">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CommisionType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="User">
    <xsd:complexContent>
      <xsd:extension base="PartyRole"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessInteractionItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="action" type="xsd:string"/>
      <xsd:element name="quantity" type="Quantity"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemReferences" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesService" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesResource" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesResourceSpecification" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesServiceSpecification" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolves" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesProductSpecification" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesProduct" type="xsd:string"/>
      <xsd:element minOccurs="0" name="WorkOrderItemReferences" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BusinessInteraction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
      <xsd:element name="interactionDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="interactionDateComplete" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="interactionStatus" type="Category"/>
      <xsd:element minOccurs="0" name="initiatedBy" type="xsd:string"/>
      <xsd:element name="Involves" type="xsd:string"/>
      <xsd:element minOccurs="0" name="type" type="BusinessInteractionType"/>
      <xsd:element minOccurs="0" name="interactionLocationKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CharacteristicValue" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ReferencesId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="actionTaken" type="xsd:string"/>
      <xsd:element minOccurs="0" name="InvolvesName" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CompromisedOf" type="BusinessInteractionItem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Request">
    <xsd:complexContent>
      <xsd:extension base="BusinessInteraction">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderItem">
    <xsd:complexContent>
      <xsd:extension base="BusinessInteractionItem">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkOrder">
    <xsd:complexContent>
      <xsd:extension base="Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="requestedDeliveryDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="possibleDeliveryDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="Stockhandler" type="FunctionOrProcessProvider"/>
          <xsd:element minOccurs="0" name="InvoiceNr" type="xsd:string"/>
          <xsd:element minOccurs="0" name="realDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="WorkOrderItemList" type="WorkOrderItem"/>
          <xsd:element minOccurs="0" name="ServiceProvider" type="ServiceProvider"/>
          <xsd:element minOccurs="0" name="addressId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="isAppointment" type="xsd:string"/>
          <xsd:element minOccurs="0" name="workingTime" type="xsd:double"/>
          <xsd:element minOccurs="0" name="ShippingOrder" type="ShippingOrder"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ShippingOrder">
    <xsd:complexContent>
      <xsd:extension base="Request">
        <xsd:sequence>
          <xsd:element name="shippingOrderKey" type="xsd:string"/>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="description" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="installationPrice" type="xsd:long"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="activationPrice" type="xsd:long"/>
          <xsd:element minOccurs="0" name="ProductList" type="productbd-v1-0:ProductCollection"/>
          <xsd:element minOccurs="0" name="SoldBy" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ShippingMethodId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactMediumCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactMedium" type="ContactMedium"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UrbanPropertyAddressCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UrbanPropertyAddress" type="UrbanPropertyAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkOrder" type="WorkOrder"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyRoleCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PartyRole" type="PartyRole"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CharacteristicsCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Characteristics" type="Characteristics"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhysicalResource">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="commonName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="objectID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="otherIdentifier" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serialNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="Category"/>
      <xsd:element minOccurs="0" name="deviceModel" type="Category"/>
      <xsd:element minOccurs="0" name="TechnicalProductID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="productID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="stockHandler" type="FunctionOrProcessProvider"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhysicalResourceCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PhysicalResources" type="PhysicalResource"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Agreement">
    <xsd:complexContent>
      <xsd:extension base="BusinessInteraction">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="agreementDocumentNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="agreementPeriod" type="TimePeriod"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="MovementCategory">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Value1"/>
      <xsd:enumeration value="Value2"/>
      <xsd:enumeration value="Value3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MovementCategoryType">
    <xsd:sequence>
      <xsd:element name="movement" type="MovementCategory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NationalIdentityCardIdentification" type="NationalIdentityCardIdentification"/>
  <xsd:element name="FiscalIdentification" type="FiscalIdentification"/>
</xsd:schema>
