smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/CustomerServices/schema3.xsd

<xsd:schema xmlns="http://directvla.com/schema/businessdomain/customer/v1-0" xmlns:commonbd-v1-0="http://directvla.com/schema/businessdomain/common/v1-0" xmlns:productbd-v1-0="http://directvla.com/schema/businessdomain/product/v1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/schema/businessdomain/customer/v1-0">
  <xsd:import namespace="http://directvla.com/schema/businessdomain/common/v1-0" schemaLocation="schema2.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/product/v1-0" schemaLocation="schema6.xsd"/>
  <xsd:complexType name="Customer">
    <xsd:complexContent>
      <xsd:extension base="commonbd-v1-0:PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="customerRank" type="xsd:long"/>
          <xsd:element minOccurs="0" name="CustomerAccountList" type="CustomerAccountCollection"/>
          <xsd:element minOccurs="0" name="IndividualRole" type="commonbd-v1-0:Individual"/>
          <xsd:element minOccurs="0" name="BusinessUnitId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="magazines" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccount">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CustomerKey" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="accountStatus" type="xsd:string"/>
      <xsd:element minOccurs="0" name="accountType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="creditLimit" type="xsd:long"/>
      <xsd:element minOccurs="0" name="pin" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerExemptedFromTaxesVia" type="CustomerAccountTaxExemption"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountChargeSumBalanceCollection" type="CustomerAccountChargeSumBalance"/>
      <xsd:element name="BillSpecifiedBy" type="CustomerBillingCycleSpecificationCollection"/>
      <xsd:element minOccurs="0" name="MethodOfPayment" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccountChargeSumBalance">
    <xsd:sequence>
      <xsd:element name="validFor" type="xsd:string"/>
      <xsd:element name="customerAccountChargeSum" type="commonbd-v1-0:Money"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomerAccountChargeSumBalanceCollection" type="CustomerAccountChargeSumBalance"/>
  <xsd:complexType name="CustomerBillingCycleSpecification">
    <xsd:sequence>
      <xsd:element name="billingDateShift" type="xsd:int"/>
      <xsd:element name="chargeDateOffSet" type="xsd:int"/>
      <xsd:element name="creditDateOffSet" type="xsd:int"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="mailingDateOffset" type="xsd:int"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="paymentDueDateOffset" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerBillingCycleSpecificationCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerBillingCycleSpecification" type="CustomerBillingCycleSpecification"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccountTaxExemption">
    <xsd:sequence>
      <xsd:element name="issuingJurisdiction" type="xsd:string"/>
      <xsd:element name="certificateNumber" type="xsd:string"/>
      <xsd:element name="validFor" type="commonbd-v1-0:TimePeriod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerInquiry">
    <xsd:complexContent>
      <xsd:extension base="commonbd-v1-0:BusinessInteraction">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="initiatedByName" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccountCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccount" type="CustomerAccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerInquiryCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerInquiry" type="CustomerInquiry"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Customer" type="Customer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="customer" type="Customer"/>
  <xsd:complexType name="Invoice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AmountApplied" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="AmountPaid" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="AmountPaidFromOtherInvoice" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Balance" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="DueDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="InvoiceDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="TotalAmount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="InvoiceNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FinancialAccountID" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Entity">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Type" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentTransaction">
    <xsd:complexContent>
      <xsd:extension base="FinancialTransaction">
        <xsd:sequence>
          <xsd:element name="BankDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="Reference" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeTransaction">
    <xsd:complexContent>
      <xsd:extension base="FinancialTransaction">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Period" type="commonbd-v1-0:TimePeriod"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FinancialTransaction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element name="FinancialAccountID" type="xsd:int"/>
      <xsd:element name="CustomerID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BaseAmount" type="commonbd-v1-0:Money"/>
      <xsd:element name="LedgerAccount" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="PaidForInvoice" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Entity" type="Entity"/>
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="TransactionType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TransactionSubType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="InvoiceLineText" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerSchedule">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:int"/>
      <xsd:element name="CustomerID" type="xsd:int"/>
      <xsd:element name="Entity" type="Entity"/>
      <xsd:element name="Description" type="xsd:string"/>
      <xsd:element name="CreatedDateTime" type="xsd:dateTime"/>
      <xsd:element name="ExecuteDateTime" type="xsd:dateTime"/>
      <xsd:element name="Status" type="xsd:string"/>
      <xsd:element name="Product" type="productbd-v1-0:Product"/>
      <xsd:element name="EventId" type="xsd:int"/>
      <xsd:element name="ReasonId" type="xsd:int"/>
      <xsd:element name="User" type="commonbd-v1-0:User"/>
      <xsd:element name="ParentId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerScheduleCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerSchedules" type="CustomerSchedule"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
