smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/ManageWorkforce_ep/schema5.xsd

<xs:schema xmlns:ns0="http://ibs.entriq.net/Core" xmlns:tns="http://schemas.datacontract.org/2004/07/PayMedia.ApplicationServices.SharedContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PayMedia.ApplicationServices.SharedContracts">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="schema3.xsd"/>
  <xs:import namespace="http://ibs.entriq.net/Core" schemaLocation="schema11.xsd"/>
  <xs:simpleType name="CacheControlLevels">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoCache"/>
      <xs:enumeration value="SchemaData"/>
      <xs:enumeration value="Connectionstrings"/>
      <xs:enumeration value="SecurityData"/>
      <xs:enumeration value="BusinessData"/>
      <xs:enumeration value="FullCache">
        <xs:annotation>
          <xs:appinfo>
                        
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1000</EnumerationValue>
                    
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CacheControlLevels" nillable="true" type="tns:CacheControlLevels"/>
  <xs:simpleType name="ParkingRule">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SystemGenerated"/>
      <xs:enumeration value="ReadOnly"/>
      <xs:enumeration value="Required"/>
      <xs:enumeration value="Editable"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParkingRule" nillable="true" type="tns:ParkingRule"/>
  <xs:complexType name="BaseQueryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculateChangeNumber" type="xs:boolean"/>
      <xs:element xmlns:q1="http://ibs.entriq.net/Core" minOccurs="0" name="ChangeCriteria" nillable="true" type="ns0:ChangeCriteria"/>
      <xs:element minOccurs="0" name="DeepLoad" type="xs:boolean"/>
      <xs:element minOccurs="0" name="DoTotalCount" type="xs:boolean"/>
      <xs:element xmlns:q2="http://ibs.entriq.net/Core" minOccurs="0" name="FilterCriteria" nillable="true" type="ns0:CriteriaCollection"/>
      <xs:element xmlns:q3="http://ibs.entriq.net/Core" minOccurs="0" name="PageCriteria" nillable="true" type="ns0:PageCriteria"/>
      <xs:element xmlns:q4="http://ibs.entriq.net/Core" minOccurs="0" name="SortCriteria" nillable="true" type="ns0:SortCriteriaCollection"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseQueryRequest" nillable="true" type="tns:BaseQueryRequest"/>
  <xs:simpleType name="Operator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal"/>
      <xs:enumeration value="NotEqual"/>
      <xs:enumeration value="LessThan"/>
      <xs:enumeration value="GreaterThan"/>
      <xs:enumeration value="LessThanOrEqualTo"/>
      <xs:enumeration value="GreaterThanOrEqualTo"/>
      <xs:enumeration value="StartsWith"/>
      <xs:enumeration value="EndsWith"/>
      <xs:enumeration value="Like"/>
      <xs:enumeration value="Between"/>
      <xs:enumeration value="In"/>
      <xs:enumeration value="IsNull"/>
      <xs:enumeration value="IsNotNull"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Operator" nillable="true" type="tns:Operator"/>
  <xs:simpleType name="Relationship">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Not">
        <xs:annotation>
          <xs:appinfo>
                        
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
                    
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="And">
        <xs:annotation>
          <xs:appinfo>
                        
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
                    
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Or">
        <xs:annotation>
          <xs:appinfo>
                        
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
                    
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Relationship" nillable="true" type="tns:Relationship"/>
  <xs:simpleType name="CriteriaValueOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Date"/>
          <xs:enumeration value="Time"/>
          <xs:enumeration value="DateTime"/>
          <xs:enumeration value="CaseSensitive">
            <xs:annotation>
              <xs:appinfo>
                                
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
                            
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CaseInsensitive">
            <xs:annotation>
              <xs:appinfo>
                                
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
                            
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Length">
            <xs:annotation>
              <xs:appinfo>
                                
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
                            
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="CriteriaValueOptions" nillable="true" type="tns:CriteriaValueOptions"/>
  <xs:simpleType name="SortDirections">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending"/>
      <xs:enumeration value="Descending"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortDirections" nillable="true" type="tns:SortDirections"/>
</xs:schema>
