smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/ManageWorkforce_ep/schema2.xsd

<xsd:schema xmlns="http://directvla.com/schema/businessdomain/common/v1-0" xmlns:customerbd-v1-0="http://directvla.com/schema/businessdomain/customer/v1-0" xmlns:productbd-v1-0="http://directvla.com/schema/businessdomain/product/v1-0" xmlns:servicebd-v1-0="http://directvla.com/schema/businessdomain/service/v1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/schema/businessdomain/common/v1-0">
  <xsd:import namespace="http://directvla.com/schema/businessdomain/customer/v1-0" schemaLocation="schema6.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/product/v1-0" schemaLocation="schema9.xsd"/>
  <xsd:complexType name="CharacteristicSpec">
    <xsd:complexContent>
      <xsd:extension base="Category">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CharacteristicSpecRef" type="CharacteristicSpec"/>
          <xsd:element minOccurs="0" name="CharacteristicValue" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Hidden" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CategoryCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Items" type="Category"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Characteristics">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
      <xsd:element name="CharacteristicSpec" type="CharacteristicSpec"/>
      <xsd:element name="CharacteristicValue" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CharacteristicCountValue" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Quantity">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="units" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Money">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="amount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="units" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimePeriod">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="startDateTime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="endDateTime" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactMedium">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="category" type="Category"/>
      <xsd:element minOccurs="0" name="AddressId" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmailContact">
    <xsd:complexContent>
      <xsd:extension base="ContactMedium">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="eMailAddress" type="xsd:string"/>
          <xsd:element minOccurs="0" name="eMailProtocol" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumber">
    <xsd:complexContent>
      <xsd:extension base="ContactMedium">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="number" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FaxNumber">
    <xsd:complexContent>
      <xsd:extension base="ContactMedium">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="number" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Place">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicPlace">
    <xsd:complexContent>
      <xsd:extension base="Place">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicAddress">
    <xsd:complexContent>
      <xsd:extension base="GeographicPlace">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="country" type="Country"/>
          <xsd:element minOccurs="0" name="stateOrProvince" type="Province"/>
          <xsd:element minOccurs="0" name="city" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UrbanPropertyAddress">
    <xsd:complexContent>
      <xsd:extension base="GeographicAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetNrFirst" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetNrFirstSuffix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetNrLast" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetNrLastSuffix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetType" type="xsd:string"/>
          <xsd:element minOccurs="0" name="streetSuffix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="locality" type="xsd:string"/>
          <xsd:element minOccurs="0" name="postCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="categorizedBy" type="Category"/>
          <xsd:element minOccurs="0" name="addressCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="additionalAttribute1" type="xsd:string"/>
          <xsd:element minOccurs="0" name="additionalAttribute2" type="xsd:string"/>
          <xsd:element minOccurs="0" name="geoCode" type="Category"/>
          <xsd:element minOccurs="0" name="MarketSegment" type="Category"/>
          <xsd:element minOccurs="0" name="entityId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="FlatOrApartment" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UrbanPropertyAddress" type="UrbanPropertyAddress"/>
  <xsd:complexType abstract="true" name="GeographicLocation">
    <xsd:complexContent>
      <xsd:extension base="GeographicPlace">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicArea">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
          <xsd:element minOccurs="0" name="City" type="City"/>
          <xsd:element minOccurs="0" name="Country" type="Country"/>
          <xsd:element minOccurs="0" name="State" type="State"/>
          <xsd:element minOccurs="0" name="Province" type="Province"/>
          <xsd:element minOccurs="0" name="PostCode" type="GeographicPostcode"/>
          <xsd:element minOccurs="0" name="PostCodeTo" type="GeographicPostcode"/>
          <xsd:element minOccurs="0" name="smallCity" type="xsd:string"/>
          <xsd:element minOccurs="0" name="HouseNumberAlphaFrom" type="xsd:string"/>
          <xsd:element minOccurs="0" name="HouseNumberAlphaTo" type="xsd:string"/>
          <xsd:element minOccurs="0" name="HouseNumberFrom" type="xsd:string"/>
          <xsd:element minOccurs="0" name="HouseNumberTo" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Exclusive" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicLocationType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicDefinition">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Active" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="GeographicAreas" type="GeographicAreaCollection"/>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Type" type="GeographicLocationType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicAreaCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Items" type="GeographicArea"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeographicDefinitionCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Items" type="GeographicDefinition"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Country">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Iso2Code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Iso3Code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Language" type="Language"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="State">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="City">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeographicPostcode">
    <xsd:complexContent>
      <xsd:extension base="GeographicLocation">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Province">
    <xsd:complexContent>
      <xsd:extension base="Category">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="key" type="xsd:string"/>
          <xsd:element minOccurs="0" name="description" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Party">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="partyId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="PartyRoleList" type="PartyRoleCollection"/>
      <xsd:element minOccurs="0" name="LanguageAbility" type="LanguageAbility"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Individual">
    <xsd:complexContent>
      <xsd:extension base="Party">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="gender" type="xsd:string"/>
          <xsd:element minOccurs="0" name="placeOfBirth" type="xsd:string"/>
          <xsd:element minOccurs="0" name="nationality" type="xsd:string"/>
          <xsd:element minOccurs="0" name="maritalStatus" type="xsd:string"/>
          <xsd:element minOccurs="0" name="aliveDuring" type="TimePeriod"/>
          <xsd:element minOccurs="0" name="IdentifiedBy" type="IndividualIdentificationCollection"/>
          <xsd:element minOccurs="0" name="NameUsing" type="IndividualNameCollection"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="PartyName">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualName">
    <xsd:complexContent>
      <xsd:extension base="PartyName">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="formattedName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="legalName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="aristocraticTitle" type="xsd:string"/>
          <xsd:element minOccurs="0" name="formOfAddress" type="xsd:string"/>
          <xsd:element minOccurs="0" name="generation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="givenNames" type="xsd:string"/>
          <xsd:element minOccurs="0" name="preferredGivenName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="middleNames" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyNamePrefix" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyNames" type="xsd:string"/>
          <xsd:element minOccurs="0" name="familyGeneration" type="xsd:string"/>
          <xsd:element minOccurs="0" name="qualifications" type="Category"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="PartyIdentification">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="issueDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="scan" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="Language" type="Language"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Language">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dialectName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="alphabetName" type="xsd:string"/>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualIdentification">
    <xsd:complexContent>
      <xsd:extension base="PartyIdentification"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NationalIdentityCardIdentification">
    <xsd:complexContent>
      <xsd:extension base="IndividualIdentification">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cardNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FiscalIdentification">
    <xsd:complexContent>
      <xsd:extension base="IndividualIdentification">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="number" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InternetIdentification">
    <xsd:complexContent>
      <xsd:extension base="IndividualIdentification">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="password" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Category">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="code" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyRoleCategory">
    <xsd:complexContent>
      <xsd:extension base="Category">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessInteractionType">
    <xsd:complexContent>
      <xsd:extension base="Category">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ParentType" type="BusinessInteractionType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="PartyRole">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="partyRoleId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="Category"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="validFor" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="AddressList" type="UrbanPropertyAddressCollection"/>
      <xsd:element minOccurs="0" name="ContactableVia" type="ContactMediumCollection"/>
      <xsd:element minOccurs="0" name="WorkOrderList" type="WorkOrderCollection"/>
      <xsd:element minOccurs="0" name="ProductInvolvementList" type="productbd-v1-0:ProductCollection"/>
      <xsd:element minOccurs="0" name="BusinessRoles" type="PartyRoleCollection"/>
      <xsd:element minOccurs="0" name="CategorizedBy" type="PartyRoleCategory"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderableEventImportFile">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="UploadDateTime" type="TimePeriod"/>
      <xsd:element minOccurs="0" name="FileDescription" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Location" type="xsd:string"/>
      <xsd:element name="Status" type="Category"/>
      <xsd:element minOccurs="0" name="EventSchedulesProcessed" type="xsd:int"/>
      <xsd:element minOccurs="0" name="EventTitlesProcessed" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ErrorDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceProvider">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CommisionType" type="Category"/>
          <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
          <xsd:element default="false" minOccurs="0" name="IsActive" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="FinancialAccountId" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Vendor">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CommisionType" type="Category"/>
          <xsd:element default="false" minOccurs="0" name="IsActive" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="DealerCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Intermediary">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CommisionType" type="Category"/>
          <xsd:element default="false" minOccurs="0" name="IsActive" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="User">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="FullName" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FunctionOrProcessProvider">
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CommisionType" type="Category"/>
          <xsd:element default="false" minOccurs="0" name="IsActive" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="FinancialAccountId" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessInteractionItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="action" type="xsd:string"/>
      <xsd:element name="quantity" type="Quantity"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemReferences" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesService" type="Category"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesResource" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesResourceSpecification" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesServiceSpecification" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolves" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesProductSpecification" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemInvolvesProduct" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BusinessInteractionItemPrice" type="Money"/>
      <xsd:element minOccurs="0" name="WorkOrderItemReferences" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BusinessInteraction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="interactionDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="interactionDateComplete" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="interactionStatus" type="Category"/>
      <xsd:element minOccurs="0" name="initiatedBy" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Involves" type="xsd:string"/>
      <xsd:element minOccurs="0" name="type" type="BusinessInteractionType"/>
      <xsd:element minOccurs="0" name="interactionLocationKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CharacteristicValue" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ReferencesId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="actionTaken" type="xsd:string"/>
      <xsd:element minOccurs="0" name="InvolvesName" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CompromisedOf" type="BusinessInteractionItem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Request">
    <xsd:complexContent>
      <xsd:extension base="BusinessInteraction">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Response">
    <xsd:complexContent>
      <xsd:extension base="BusinessInteraction">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderItem">
    <xsd:complexContent>
      <xsd:extension base="BusinessInteractionItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ProblemDescription" type="xsd:string"/>
          <xsd:element minOccurs="0" name="WorkOrderID" type="xsd:int"/>
          <xsd:element minOccurs="0" name="PhysicalResourceModel" type="Category"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkOrder">
    <xsd:complexContent>
      <xsd:extension base="Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="requestedDeliveryDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="possibleDeliveryDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="Stockhandler" type="FunctionOrProcessProvider"/>
          <xsd:element minOccurs="0" name="InvoiceNr" type="xsd:string"/>
          <xsd:element minOccurs="0" name="realDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="WorkOrderItemList" type="WorkOrderItemCollection"/>
          <xsd:element minOccurs="0" name="ServiceProvider" type="ServiceProvider"/>
          <xsd:element minOccurs="0" name="addressId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="isAppointment" type="xsd:string"/>
          <xsd:element minOccurs="0" name="workingTime" type="xsd:double"/>
          <xsd:element minOccurs="0" name="ShippingOrder" type="ShippingOrder"/>
          <xsd:element minOccurs="0" name="Technician" type="TelecomTechnician"/>
          <xsd:element minOccurs="0" name="InvolvesCreation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="InvolvesCreationName" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="WorkOrderType" type="WorkOrder"/>
  <xsd:element name="WorkOrderItemType" type="WorkOrderItem"/>
  <xsd:complexType name="ShippingOrder">
    <xsd:complexContent>
      <xsd:extension base="Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="shippingOrderKey" type="xsd:string"/>
          <xsd:element minOccurs="0" name="name" type="xsd:string"/>
          <xsd:element minOccurs="0" name="code" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="installationPrice" type="xsd:long"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="activationPrice" type="xsd:long"/>
          <xsd:element minOccurs="0" name="ProductList" type="productbd-v1-0:ProductCollection"/>
          <xsd:element minOccurs="0" name="SoldBy" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ShippingMethodId" type="xsd:string"/>
          <xsd:element minOccurs="0" name="contractNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="contractCode" type="xsd:string"/>
          <xsd:element minOccurs="0" name="StampDate" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="FinancialAccountId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="AgreementId" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ShippingOrderCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Items" type="ShippingOrder"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactMediumCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactMedium" type="ContactMedium"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UrbanPropertyAddressCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="UrbanPropertyAddress" type="UrbanPropertyAddress"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkOrder" type="WorkOrder"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WorkOrderItemCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkOrderItem" type="WorkOrderItem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyRoleCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PartyRole" type="PartyRole"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CharacteristicsCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Characteristics" type="Characteristics"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CharacteristicSpecCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CharacteristicSpec" type="CharacteristicSpec"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhysicalResource">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="commonName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="objectID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="otherIdentifier" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serialNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="Category"/>
      <xsd:element minOccurs="0" name="deviceModel" type="Category"/>
      <xsd:element minOccurs="0" name="TechnicalProductID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="TechnicalProductName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="productID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="stockHandler" type="FunctionOrProcessProvider"/>
      <xsd:element minOccurs="0" name="CallBackMethod" type="Category"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhysicalResourceCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PhysicalResources" type="PhysicalResource"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualNameCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="IndividualNames" type="IndividualName"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndividualIdentificationCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="IndividualIdentifications" type="IndividualIdentification"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Agreement">
    <xsd:complexContent>
      <xsd:extension base="BusinessInteraction">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="agreementDocumentNumber" type="xsd:string"/>
          <xsd:element minOccurs="0" name="agreementStatementOfIntent" type="xsd:string"/>
          <xsd:element minOccurs="0" name="agreementPeriod" type="TimePeriod"/>
          <xsd:element minOccurs="0" name="AgreementConsistsOf" type="AgreementItemCollection"/>
          <xsd:element minOccurs="0" name="marketSegment" type="Category"/>
          <xsd:element minOccurs="0" name="financialAccountID" type="xsd:int"/>
          <xsd:element minOccurs="0" name="AgreementCharacteristics" type="CharacteristicSpecCollection"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AgreementItem">
    <xsd:complexContent>
      <xsd:extension base="BusinessInteractionItem">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AgreementItemCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AgreementItem" type="AgreementItem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="MovementCategory">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Value1"/>
      <xsd:enumeration value="Value2"/>
      <xsd:enumeration value="Value3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MovementCategoryType">
    <xsd:sequence>
      <xsd:element name="movement" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommandStatusResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="reponse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="deviceID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="smartCardNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="commandDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="reason" type="xsd:string"/>
      <xsd:element minOccurs="0" name="userName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="responseMessage" type="xsd:string"/>
      <xsd:element minOccurs="0" name="commandStatus" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DealerCode">
    <xsd:sequence>
      <xsd:element name="dealerKey" type="xsd:string"/>
      <xsd:element name="dealerCode" type="xsd:string"/>
      <xsd:element name="dealerDepotCode" type="xsd:string"/>
      <xsd:element name="dealerName" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DealerCodesCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DealerCodeItem" nillable="true" type="DealerCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditCard">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="Number" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditCardCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CreditCards" type="CreditCard"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValueCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Criteria">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Restriction">
    <xsd:complexContent>
      <xsd:extension base="Criteria">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="In">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Values" type="ValueCollection"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Between">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="ValueFrom" type="xsd:string"/>
          <xsd:element name="ValueTo" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Equal">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ValueOption" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NotEqual">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ValueOption" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LessThan">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GreaterThan">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LessThanOrEqualTo">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ValueOption" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GreaterThanOrEqualTo">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ValueOption" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Like">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IsNull">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IsNotNull">
    <xsd:complexContent>
      <xsd:extension base="Restriction">
        <xsd:sequence>
          <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FilterCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="FilterItem" type="Restriction"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SortDirections">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Ascending"/>
      <xsd:enumeration value="Descending"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Sorting">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string"/>
      <xsd:element name="Direction" type="SortDirections"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SortingCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="SortingItem" type="Sorting"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Paging">
    <xsd:sequence>
      <xsd:element name="Pages" type="xsd:int"/>
      <xsd:element name="PageSize" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CriteriaSpecification">
    <xsd:sequence>
      <xsd:element name="Filters" type="FilterCollection"/>
      <xsd:element minOccurs="0" name="Sorting" type="SortingCollection"/>
      <xsd:element minOccurs="0" name="Paging" type="Paging"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IntegerCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Value" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LanguageAbility">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="readingProficiency" type="Language"/>
      <xsd:element minOccurs="0" name="writingProficiency" type="Language"/>
      <xsd:element minOccurs="0" name="speakingProficiency" type="Language"/>
      <xsd:element minOccurs="0" name="listeningProficiency" type="Language"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WorkOrderItem" type="WorkOrderItem"/>
  <xsd:complexType abstract="true" name="ValueNetworkRole">
    <xsd:annotation>
      <xsd:documentation>This is an abstract class with no attributes. Used to group roles that pertain to the eTOM value network [eTOM].</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PartyRole">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Technician">
    <xsd:annotation>
      <xsd:documentation>This class is an abstract base class that represents various Technician roles. These roles connote specific technical training and competence in a specific area, such as telecom.
            This is a DEN-ng class.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ValueNetworkRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="IndividualRole" type="Individual"/>
          <xsd:element minOccurs="0" name="OwnsResource" type="PhysicalDeviceCollection"/>
          <xsd:element minOccurs="0" name="Dealer" type="ServiceProvider"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelecomTechnician">
    <xsd:annotation>
      <xsd:documentation>This class represents the role of a TelecomTechnician. TelecomTechnician is a general-purpose role that covers physical and logical configuration, installation and maintenance of a Resource or Service. In contrast to a ResourceInstaller, a TelecomTechnician will also do simple configuration of Resources and Services. However, the features and functions that a TelecomTechnician configures are in general a subset of those that an Administrator configures.
            This is a DEN-ng class.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Technician">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhysicalDevice">
    <xsd:complexContent>
      <xsd:extension base="PhysicalResource">
        <xsd:sequence>
          <xsd:element name="brand" type="xsd:string"/>
          <xsd:element name="pin" type="xsd:string"/>
          <xsd:element name="imei" type="xsd:string"/>
          <xsd:element name="ani" type="xsd:string"/>
          <xsd:element name="firmware" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PhysicalDeviceCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PhysicalDevice" type="PhysicalDevice"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FilterItem" type="Equal"/>
</xsd:schema>
