smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/ManageWorkforce_ep/schema1.xsd

<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/>
  <xs:complexType name="ArrayOfanyType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfanyType" nillable="true" type="tns:ArrayOfanyType"/>
</xs:schema>
