smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/CRMSupportAndReadiness/schema7.xsd

<xsd:schema xmlns="http://directvla.com/schema/businessdomain/customer/v1-0" xmlns:commonbd-v1-0="http://directvla.com/schema/businessdomain/common/v1-0" xmlns:productbd-v1-0="http://directvla.com/schema/businessdomain/product/v1-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/schema/businessdomain/customer/v1-0">
  <xsd:import namespace="http://directvla.com/schema/businessdomain/common/v1-0" schemaLocation="schema1.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/product/v1-0" schemaLocation="schema2.xsd"/>
  <xsd:complexType name="Customer">
    <xsd:complexContent>
      <xsd:extension base="commonbd-v1-0:PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
          <xsd:element minOccurs="0" name="customerRank" type="xsd:long"/>
          <xsd:element minOccurs="0" name="CustomerAccountList" type="CustomerAccountCollection"/>
          <xsd:element minOccurs="0" name="IndividualRole" type="commonbd-v1-0:Individual"/>
          <xsd:element minOccurs="0" name="BusinessUnitId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="magazines" type="xsd:int"/>
          <xsd:element minOccurs="0" name="agreement" type="commonbd-v1-0:Agreement"/>
          <xsd:element minOccurs="0" name="characteristics" type="commonbd-v1-0:CharacteristicsCollection"/>
          <xsd:element minOccurs="0" name="SegmentationKey" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CustomerType" type="Customer"/>
  <xsd:complexType name="CustomerAccount">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CustomerKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="type" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="CustomerExemptedFromTaxesVia" type="CustomerAccountTaxExemptionCollection"/>
      <xsd:element minOccurs="0" name="CustomerAccountChargeSumBalanceCollection" type="CustomerAccountChargeSumBalanceCollection"/>
      <xsd:element minOccurs="0" name="BillSpecifiedBy" type="CustomerBillingCycleSpecificationCollection"/>
      <xsd:element minOccurs="0" name="MethodOfPayment" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="InvoiceDeliveryMethod" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="DunningLevel" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="InvoicingProfile" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="DueIn" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="CreditCardCollection" type="commonbd-v1-0:CreditCardCollection"/>
      <xsd:element minOccurs="0" name="FirstNextBillDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="BankCode" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="BankAccountNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BankBranch" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="ProxyCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ReferenceNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LastPaymentDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="TotalDue" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="DisconnectionDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="DaysToDisconnectionDate" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ParentCustomerAccountId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="HasBeenApplied" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccountChargeSumBalance">
    <xsd:sequence>
      <xsd:element name="validFor" type="xsd:string"/>
      <xsd:element name="customerAccountChargeSum" type="commonbd-v1-0:Money"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccountChargeSumBalanceCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountChargeSumBalance" type="CustomerAccountChargeSumBalance"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomerAccountChargeSumBalanceCollectionType" type="CustomerAccountChargeSumBalanceCollection"/>
  <xsd:complexType name="CustomerBillingCycleSpecification">
    <xsd:sequence>
      <xsd:element name="billingDateShift" type="xsd:int"/>
      <xsd:element name="chargeDateOffSet" type="xsd:int"/>
      <xsd:element name="creditDateOffSet" type="xsd:int"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="mailingDateOffset" type="xsd:int"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="paymentDueDateOffset" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerBillingCycleSpecificationCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerBillingCycleSpecification" type="CustomerBillingCycleSpecification"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccountTaxExemption">
    <xsd:sequence>
      <xsd:element name="issuingJurisdiction" type="xsd:string"/>
      <xsd:element name="certificateNumber" type="xsd:string"/>
      <xsd:element name="validFor" type="commonbd-v1-0:TimePeriod"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccountTaxExemptionCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccountTaxExemption" type="CustomerAccountTaxExemption"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerInquiry">
    <xsd:complexContent>
      <xsd:extension base="commonbd-v1-0:BusinessInteraction">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="initiatedByName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="InvolvesCreation" type="xsd:string"/>
          <xsd:element minOccurs="0" name="InvolvesCreationName" type="xsd:string"/>
          <xsd:element minOccurs="0" name="WorkOrderId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="CommercialProductId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="ShippingOrderId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="StampDate" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomerAccountCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerAccount" type="CustomerAccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerInquiryCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerInquiry" type="CustomerInquiry"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Customer" type="Customer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Invoice">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AmountApplied" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="AmountPaid" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="AmountPaidFromOtherInvoice" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Balance" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="BalanceBroughtForward" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="DueDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="InvoiceDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="TotalAmount" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="InvoiceNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="InvoiceText" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NewCharges" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FinancialAccountID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FinancialTransactionsCollection" type="FinancialTransactionCollection"/>
      <xsd:element minOccurs="0" name="MethodOfPayment" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="DunningLevel" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="InvoiceDeliveryMethod" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="InvoicingProfile" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="DueIn" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="ExternalInvoiceNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ExternalReferenceNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FinancialStatus" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="Pending" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Invoices" type="Invoice"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Entity">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:int"/>
      <xsd:element name="Type" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentTransaction">
    <xsd:complexContent>
      <xsd:extension base="FinancialTransaction">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ChargeTransaction">
    <xsd:complexContent>
      <xsd:extension base="FinancialTransaction">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FinancialTransaction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AmountExcludingTax" type="commonbd-v1-0:Money"/>
      <xsd:element minOccurs="0" name="AmountIncludingTax" type="commonbd-v1-0:Money"/>
      <xsd:element minOccurs="0" name="AppearedOnInvoice" type="xsd:int"/>
      <xsd:element minOccurs="0" name="BankDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="BaseAmount" type="commonbd-v1-0:Money"/>
      <xsd:element minOccurs="0" name="Comments" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="CreatedByEventId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CreatedByUserId" type="xsd:int"/>
      <xsd:element name="CustomerKey" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Entity" type="Entity"/>
      <xsd:element name="FinancialAccountID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="FinancialBatchCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FinancialBatchID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="HistoryNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="InvoiceLineText" type="xsd:string"/>
      <xsd:element name="LedgerAccount" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="MarketSegmentId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="OriginalAmount" type="commonbd-v1-0:Money"/>
      <xsd:element minOccurs="0" name="PaidForInvoice" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Period" type="commonbd-v1-0:TimePeriod"/>
      <xsd:element minOccurs="0" name="ProductId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ReceiptNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Reference" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ReversedTransactionId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Taxes" type="FinancialTransactionTaxesCollection"/>
      <xsd:element minOccurs="0" name="TransactionSubType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TransactionType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AssociatedProduct" type="productbd-v1-0:Product"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialTransactionCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FinancialTransactions" type="FinancialTransaction"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialTransactionTax">
    <xsd:sequence>
      <xsd:element name="Amount" type="commonbd-v1-0:Money"/>
      <xsd:element name="Type" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinancialTransactionTaxesCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Items" type="FinancialTransactionTax"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerHistoryEvent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="UserNr" type="xsd:int"/>
      <xsd:element minOccurs="0" name="UserKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UserName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Event" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="Reason" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="ProductId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CreateDatetime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="RealDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="ProductName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ExternalAgentId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerHistoryEventCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerHistoryEventItem" nillable="true" type="CustomerHistoryEvent"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerNote">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerKey" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Body" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Category" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="CompletionStage" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="CreateDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="CreatedByUserKey" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ActionUserKey" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Extended" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CreatedByUserName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ActionUserName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerNoteCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerNotes" type="CustomerNote"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LedgerAccount">
    <xsd:complexContent>
      <xsd:extension base="commonbd-v1-0:Category">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ReverseLedgerAccountId" type="xsd:int"/>
          <xsd:element minOccurs="0" name="Type" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LedgerAccountCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="LedgerAccount" type="LedgerAccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CustomerSchedules" type="CustomerSchedule"/>
  <xsd:complexType name="CustomerSchedule">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ID" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CreateDatetime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="CustomerKey" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Entity" type="Entity"/>
      <xsd:element minOccurs="0" name="Event" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="ExecuteDatetime" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="Message" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ParentId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Product" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="Reason" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="Status" type="commonbd-v1-0:Category"/>
      <xsd:element minOccurs="0" name="User" type="commonbd-v1-0:Category"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerScheduleCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustomerSchedules" type="CustomerSchedule"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
