smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/CustomerInterfaceManagment/schema4.xsd

<xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:commonbd-v1-0="http://directvla.com/schema/businessdomain/common/v1-0" xmlns:commondt-v1-0="http://directvla.com/schema/util/commondatatypes/v1-0" xmlns:commonex-v1-0="http://directvla.com/schema/util/commonexceptions/v1-0" xmlns:custint-v1-0="http://directvla.com/schema/businessdomain/CustomerInterfaceManagement/v1-0" xmlns:customerbd-v1-0="http://directvla.com/schema/businessdomain/customer/v1-0" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:productbd-v1-0="http://directvla.com/schema/businessdomain/product/v1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://directvla.com/contract/businessdomain/CustomerInterfaceManagement/v1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/schema/businessdomain/CustomerInterfaceManagement/v1-0">
  <xsd:import namespace="http://directvla.com/schema/businessdomain/customer/v1-0" schemaLocation="schema6.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/product/v1-0" schemaLocation="schema2.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/common/v1-0" schemaLocation="schema3.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/util/commondatatypes/v1-0" schemaLocation="schema5.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/util/commonexceptions/v1-0" schemaLocation="schema1.xsd"/>
  <xsd:complexType name="AddCustomerInquiry">
    <xsd:sequence>
      <xsd:element name="CustInq" type="customerbd-v1-0:CustomerInquiry"/>
      <xsd:element name="Reason" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddCustomerInquiryResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerInquiryKey" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AddCustomerInquiryRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="AddCustomerInquiry" type="custint-v1-0:AddCustomerInquiry"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddCustomerInquiryResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="AddCustomerInquiryResult" type="custint-v1-0:AddCustomerInquiryResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddCustomerInquiryException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailableException" type="commonex-v1-0:ServiceUnavailableException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EditCustomerInquiry">
    <xsd:sequence>
      <xsd:element name="CustInq" type="customerbd-v1-0:CustomerInquiry"/>
      <xsd:element name="Response" type="commonbd-v1-0:Response"/>
      <xsd:element name="Reason" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="EditCustomerInquiryRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="EditCustomerInquiry" type="custint-v1-0:EditCustomerInquiry"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EditCustomerInquiryResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EditCustomerInquiryException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailableException" type="commonex-v1-0:ServiceUnavailableException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GetCustomerInquiriesByDays">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
      <xsd:element name="Days" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerInquiriesByDaysResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerinquiries" type="customerbd-v1-0:CustomerInquiryCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetCustomerInquiriesByDaysRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerInquiriesByDays" type="custint-v1-0:GetCustomerInquiriesByDays"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesByDaysResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerInquiriesByDaysResult" type="custint-v1-0:GetCustomerInquiriesByDaysResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesByDaysException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailableException" type="commonex-v1-0:ServiceUnavailableException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GetCustomerInquiries">
    <xsd:sequence>
      <xsd:element name="CustomerKey" type="xsd:string"/>
      <xsd:element name="RegNr" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerInquiriesResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerinquiries" type="customerbd-v1-0:CustomerInquiryCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetCustomerInquiriesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerInquiries" type="custint-v1-0:GetCustomerInquiries"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerInquiriesResult" type="custint-v1-0:GetCustomerInquiriesResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailableException" type="commonex-v1-0:ServiceUnavailableException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GetCustomerInquiriesByCriteria">
    <xsd:sequence>
      <xsd:element name="Criterias" type="commonbd-v1-0:CriteriaSpecification"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetCustomerInquiriesByCriteriaResult">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="customerinquiries" type="customerbd-v1-0:CustomerInquiryCollection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetCustomerInquiriesByCriteriaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestMetadata" type="commondt-v1-0:RequestMetadataType"/>
        <xsd:element name="GetCustomerInquiriesByCriteria" type="custint-v1-0:GetCustomerInquiriesByCriteria"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesByCriteriaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseMetadata" type="commondt-v1-0:ResponseMetadataType"/>
        <xsd:element name="GetCustomerInquiriesByCriteriaResult" type="custint-v1-0:GetCustomerInquiriesByCriteriaResult"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCustomerInquiriesByCriteriaException">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="commonex-v1-0:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="commonex-v1-0:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="commonex-v1-0:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="commonex-v1-0:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="commonex-v1-0:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="commonex-v1-0:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="commonex-v1-0:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="commonex-v1-0:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="commonex-v1-0:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="commonex-v1-0:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="commonex-v1-0:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailableException" type="commonex-v1-0:ServiceUnavailableException"/>
        <xsd:element name="OperationNotYetImplementedException" type="commonex-v1-0:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
