smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/Vista360Service/schema9.xsd

<xsd:schema xmlns="http://directvla.com/schema/crm/vista360/v1" xmlns:crm-common="http://directvla.com/schema/crm/common/v1" xmlns:crm-commonbusiness="http://directvla.com/schema/crm/commonbusiness/v1" xmlns:crm-customer="http://directvla.com/schema/crm/customer/v1" xmlns:crm-exception="http://directvla.com/schema/crm/exception/v1" xmlns:crm-product="http://directvla.com/schema/crm/product/v1" xmlns:crm-vista360="http://directvla.com/schema/crm/vista360/v1" xmlns:crmsar-v1-0="http://directvla.com/schema/businessdomain/CRMSupportAndReadiness/v1-0" xmlns:managebe-v1-0="http://directvla.com/schema/businessdomain/ManageBillingEvents/v1-0" xmlns:ns1="http://ibs.entriq.net/Customers" xmlns:ns2="http://ibs.entriq.net/Security" xmlns:ns3="http://ibs.entriq.net/ViewFacade" xmlns:ns4="http://schemas.oracle.com/bpel/extension" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://directvla.com/contract/crm/vista360/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://directvla.com/schema/crm/vista360/v1">
  <xsd:import namespace="http://directvla.com/schema/crm/common/v1" schemaLocation="schema1.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/crm/exception/v1" schemaLocation="schema11.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/crm/customer/v1" schemaLocation="schema8.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/crm/commonbusiness/v1" schemaLocation="schema10.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/crm/product/v1" schemaLocation="schema12.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/CRMSupportAndReadiness/v1-0" schemaLocation="schema5.xsd"/>
  <xsd:import namespace="http://directvla.com/schema/businessdomain/ManageBillingEvents/v1-0" schemaLocation="schema13.xsd"/>
  <xsd:complexType name="GetVista360Result">
    <xsd:sequence>
      <xsd:element name="GetCustomerCrmResult" type="crm-customer:GetCustomerCrmResult"/>
      <xsd:element name="GetCustomerProductByStatusResult" type="crm-product:GetCustomerProductByStatusResult"/>
      <xsd:element name="GetCustomerWorkOrderByStatusResult" type="crm-commonbusiness:GetCustomerWorkOrderByStatusResult"/>
      <xsd:element name="GetCustomerInquiriesByDaysResult" type="crm-customer:GetCustomerInquiriesByDaysResult"/>
      <xsd:element name="GetCustomerCharacteristicsResult" type="crmsar-v1-0:GetCustomerCharacteristicsResult"/>
      <xsd:element name="GetCustomerFinancialInfoResult" type="managebe-v1-0:GetCustomerFinancialInfoResult"/>
      <xsd:element name="GetCustomerLastInvoiceResult" type="managebe-v1-0:GetCustomerLastInvoiceResult"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetVista360Request">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestMetadata" type="crm-common:RequestMetadataType"/>
        <xsd:element name="GetVista360" type="GetVista360"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetVista360Response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseMetadata" type="crm-common:ResponseMetadataType"/>
        <xsd:element name="GetVista360Result" type="GetVista360Result"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetVista360Exception">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="EntityAlreadyExistsException" type="crm-exception:EntityAlreadyExistsException"/>
        <xsd:element name="EntityNotFoundException" type="crm-exception:EntityNotFoundException"/>
        <xsd:element name="EntityInUseException" type="crm-exception:EntityInUseException"/>
        <xsd:element name="InternalErrorException" type="crm-exception:InternalErrorException"/>
        <xsd:element name="MissingParameterException" type="crm-exception:MissingParameterException"/>
        <xsd:element name="InvalidParameterValueException" type="crm-exception:InvalidParameterValueException"/>
        <xsd:element name="InvalidQueryParameterException" type="crm-exception:InvalidQueryParameterException"/>
        <xsd:element name="InvalidRequestException" type="crm-exception:InvalidRequestException"/>
        <xsd:element name="InvalidResponseException" type="crm-exception:InvalidResponseException"/>
        <xsd:element name="InvalidSecurityTokenException" type="crm-exception:InvalidSecurityTokenException"/>
        <xsd:element name="AccessDeniedException" type="crm-exception:AccessDeniedException"/>
        <xsd:element name="ServiceUnavailableException" type="crm-exception:ServiceUnavailabbleException"/>
        <xsd:element name="OperationNotYetImplementedException" type="crm-exception:OperationNotYetImplementedException"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GetVista360">
    <xsd:sequence>
      <xsd:element name="CustomerNr" type="xsd:string"/>
      <xsd:element name="Days" type="xsd:int"/>
      <xsd:element name="Status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="StatusWorkOrder" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Page" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
