smart-dealer-ii-ejb/src/main/resource/META-INF/wsdl/Customer/schema1.xsd

<xs:schema xmlns:ns0="http://schemas.datacontract.org/2004/07/PayMedia.ApplicationServices.SharedContracts" xmlns:tns="http://ibs.entriq.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ibs.entriq.net/">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PayMedia.ApplicationServices.SharedContracts" schemaLocation="schema2.xsd"/>
  <xs:complexType name="Rule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Default" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Enum" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Extended" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string"/>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PayMedia.ApplicationServices.SharedContracts" minOccurs="0" name="Parking" type="ns0:ParkingRule"/>
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Range" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rule" nillable="true" type="tns:Rule"/>
</xs:schema>
